/*GENERAL STYLES*/
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif !important;
    font-size: 16px;
    overflow-x: hidden;
}
:root{
    --black: #000;
    --white: #fff;
    --blue: #1875BE;
}
/*NAVBAR*/
#navbar{
    width: 100%;
    padding:0.5em 0em 0.5em;
    background-color: white;
}
#navbar-header{
    display: flex;
    flex-direction: row;
    
}
#navbar-header #brand-logo{
    height: 1.2em;
    float: left;
}
#main-menu ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 2em;
}
.nav-item a{
    color: var(--black);
    text-decoration: none;    
    font-size: 0.8em;
    font-weight: 700;
}
#menu-icon{
    width: 20px;
    height: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
#navbar-toggler{
    position: absolute;
    top: 15px;
    right: 30px;
    box-shadow: none !important;
}
.icon-bar {
    border: 1px solid var(--black);
    width: 100%;
}
/*SIDE NAV*/
#side-nav{
    opacity: 0.9;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100% !important;
    width: 50%;
    background-color: #F3F3F3;
    animation: slideIn 0.1s ease-in-out 0s 1 normal ;
}
#side-nav-ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}
#side-nav-ul li:not(:last-child){
   padding: 0.8em 0em;
   border-bottom: 1px solid #ccc;
}

#sidenav.collapse:not(.show){
    animation: slideOut 0.1s ease-in-out 0s 1 normal ;
}

/*LANDING PAGE*/
#landing-page{
    width: 100%;
    height: 100vh;
    background: url('../images/Highlight-Multi-Canvas-Bing-AI-No-Text_VP4-1399x600.jpeg') no-repeat center center/cover;
    padding: 0.1em;
    margin-bottom: 20px;
}
#landing-page-text{
    color: var(--white);
    width: 40%;
    padding: 7em 0em 0em 0em;
    margin-left: 30px;
}
#landing-page-text h1{
    font-size: 1.6em;
    font-weight: 700;
    margin-bottom: 0.5em;
}
#landing-page-text p{
    font-size: 1.1em;
}
#landing-page button{
    color: var(--white);
    font-size: 1em;
    width: 15em;
    padding: 0.5em 1em;
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
}
#learn-more{
    display: block;
    color: var(--white);
    font-size: 1.1em;
    font-weight: 700;
    margin: 1em auto 6.5em;
    text-decoration: none;
}
/*CARDS SECTION*/
.cr-1-products,.cr-3-products{
    margin-bottom: 1em;
}
.cr-1-products img, .cr-3-products img{
    width: 100%;
}
.cr-1-products h3, .cr-3-products h3{
    margin: 0.5em 0em;
    font-size: 1.3em;
    color: var(--black);
}
.cr-1-products p, .cr-3-products p{
    font-size: 1.15em;
}
.cr-1-products a, .cr-3-products a{
    color: var(--blue);
    text-decoration: none;
}

#cr-2{
    position: relative;
    margin-top: 3em;
    background: url('../images/outlook.avif') no-repeat center center/cover;
    padding-bottom: 2em;
    margin-bottom: 1.5em;
}
#cr-2 div{
    width: 50%;
    height: 80%;
    padding: 8em 0em 0em 2em;
    margin-bottom: 2em;
}
#cr-2 button{
    background-color: var(--blue);
    color: var(--white);
    padding: 1em 1.5em;
    font-size: 0.8em;
    border: 0em;
    border-radius: 0.3em;
}
#cr-4{
    position: relative;
    margin-top: 2em;
    background: url('../images/microsoft-365-banner.webp') no-repeat center center/cover;
    padding: 2em 0em;
    margin-bottom: 1.5em;
}
#cr-4 div{
    width: 55%;
    height: 80%;
    padding: 5em 0em 0em 2em;
    margin-bottom: 2em;
}
#cr-4 div p{
    font-size: 1.1em;
}
#cr-4 button{
    background-color: #F3F3F3;
    color: var(--black);
    width: 10em;
    padding: 0.9em 1.5em;
    font-size: 0.8em;
    border: 0em;
    border-radius: 0.3em;
}
#cr-5{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2em 0em;
}
#cr-5 a img{
    width: 2.5em;
    margin-top: -15px;
    margin-left: 1em;
}

/* FOOTER */
footer{
    background-color: #F3F3F3;
}
footer .container{
    padding: 2em;
    padding-bottom: 0em;
}
#footer-links{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
#footer-ul h5{
    font-size: 0.9em;
    font-weight: 700;
}
#footer-ul{
    margin-right: 1em;
    list-style-type: none;
}
#footer-ul li, #footer-ul-2 li{
    font-size: 0.75em;
}
#footer-ul-2 li:not(:first-child){
    margin-left: 2em;
    float: left;
}
#footer-ul-2{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
}






/*side-nav animation*/
@keyframes slideIn{
    0%{
        width: 0;
    }
    100%{
        width: 40%;
    }
}


/*MEDIA QUERIES*/
@media (max-width:768px){
    body{
        font-size: 13px;
    }
    #navbar-header #brand-logo{
        position: relative;
        top: 5px;
        left: 5px;
    }
    #landing-page{
        background: url('../images/bing.avif') no-repeat center center/cover;
        height: 400px;
    }
    #landing-page-text{
        color: var(--black);
        margin-top: 9em;
        margin-left: 0em;
        width: 100%;
        padding: 0;
        text-align: center;
    }
    #landing-page-text h1{
        font-size: 1.2em;
        margin-bottom: 20px;
    }
    #landing-page-text p{
        font-size: 0.8em;
        text-align: left !important;
    }
    #landing-page-text button{
        width: 13em;
        font-size: 1em;
    }
    #learn-more{
        display: inline-block;
        color: var(--black);
        margin-left: 10px;
        font-size: 0.9em;
        font-weight: 900;
    }
    #cr-4 div{
        width: 80%;
    }
    #footer-links{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 576px){
    #footer-links{
        grid-template-columns: 1fr;
    }
}